 #root {
  max-width: 1280px;
  margin: 0 auto;
  /* text-align: center; */
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  /* text-transform: uppercase; */
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

nav {
  display: flex;
}

main {
  margin-bottom: 84px;
}

footer {
  /* background-color: #161616; */
  color: #161616;;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

p {
  line-height: 24px;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  /* padding: .75rem 1.375rem; */
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  text-decoration: underline;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

.label {
  background-color: #1976d2;
  color: #FFF7ED;
  font-size: 0.8rem;
  padding: 0.1rem 0.25rem;
  border-radius: 3px;
  display: inline-block;
  line-height: 1.25rem;
  margin-bottom: 30px;
}

.container {
  padding-inline: 26px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-container h1{
  font-size: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.table-container{
  box-shadow: none;
  border: 1px solid #eee;
}
button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
button:hover{
  background-color: #e0782d;
}

.login-error {
  color: red;
}

.logout-button {
  height: 40px;
  padding: 1px 22px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}
